<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>AdminX</title>

    <!--icheck-->
    <link href="__STATIC__/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="__STATIC__/js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="__STATIC__/js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="__STATIC__/js/iCheck/skins/square/blue.css" rel="stylesheet">

    <!--dashboard calendar-->
    <link href="__STATIC__/css/clndr.css" rel="stylesheet">

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="__STATIC__/js/morris-chart/morris.css">

    <!--common-->
    <link href="__STATIC__/css/style.css" rel="stylesheet">
    <link href="__STATIC__/css/style-responsive.css" rel="stylesheet">




    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__STATIC__/js/html5shiv.js"></script>
    <script src="__STATIC__/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="sticky-header">
<section>

{block name="left"}左边分栏{/block}
{block name="main"}主内容{/block}


</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="__STATIC__/js/jquery-1.10.2.min.js"></script>
<script src="__STATIC__/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__STATIC__/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__STATIC__/js/bootstrap.min.js"></script>
<script src="__STATIC__/js/modernizr.min.js"></script>
<script src="__STATIC__/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="__STATIC__/js/easypiechart/jquery.easypiechart.js"></script>
<script src="__STATIC__/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="__STATIC__/js/sparkline/jquery.sparkline.js"></script>
<script src="__STATIC__/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="__STATIC__/js/iCheck/jquery.icheck.js"></script>
<script src="__STATIC__/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="__STATIC__/js/flot-chart/jquery.flot.js"></script>
<script src="__STATIC__/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="__STATIC__/js/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="__STATIC__/js/morris-chart/morris.js"></script>
<script src="__STATIC__/js/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="__STATIC__/js/calendar/clndr.js"></script>
<script src="__STATIC__/js/calendar/evnt.calendar.init.js"></script>
<script src="__STATIC__/js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.__STATIC__/js/1.5.2/underscore-min.js"></script>

<!--common scripts for all pages-->
<script src="__STATIC__/js/scripts.js"></script>

<!--Dashboard Charts-->
<script src="__STATIC__/js/dashboard-chart-init.js"></script>
</body>
</html>