{extend name="base/base" /}
{block name="title"}标题{/block}

{block name="left"}

{include file="base/left_menu" /}

{/block}


{block name="main"}
<!-- main content start-->
<div class="main-content">

	<!-- header section start-->
	<div class="header-section">

		<!--toggle button start-->
		<a class="toggle-btn"><i class="fa fa-bars"></i></a>
		<!--toggle button end-->

		<!--搜索开始-->
		<form class="searchform" action="index.html" method="post">
			<input type="text" class="form-control" name="keyword" placeholder="Search here..." />
		</form>
		<!--搜索结束-->

		<!--导航（通知）菜单开始notification menu start -->
		<div class="menu-right">
			<ul class="notification-menu">
				<li>
					<a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
						<i class="fa fa-tasks"></i>
						<span class="badge">8</span>
					</a>
					<div class="dropdown-menu dropdown-menu-head pull-right">
						<h5 class="title">你有8门需要考试的科目</h5>
						<ul class="dropdown-list user-list">
							<li class="new">
								<a href="#">
									<div class="task-info">
										<div>JavaEE企业级开发考试</div>
									</div>
								</a>
							</li>
							<li class="new">
								<a href="#">
									<div class="task-info">
										<div>大学英语4</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="task-info">
										<div>高等数学</div>
									</div>
								</a>
							</li>


							<li class="new"><a href="">查看所有考试</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
						<i class="fa fa-envelope-o"></i>
						<span class="badge">5</span>
					</a>
					<div class="dropdown-menu dropdown-menu-head pull-right">
						<h5 class="title">你有5条未读消息</h5>
						<ul class="dropdown-list normal-list">
							<li class="new">
								<a href="">
									<span class="thumb"><img src="images/photos/user1.png" alt="" /></span>
									<span class="desc">
													<span class="name">John Doe <span class="badge badge-success">new</span></span>
													<span class="msg">Lorem ipsum dolor sit amet...</span>
												</span>
								</a>
							</li>
							<li>
								<a href="">
									<span class="thumb"><img src="images/photos/user2.png" alt="" /></span>
									<span class="desc">
													<span class="name">Jonathan Smith</span>
													<span class="msg">Lorem ipsum dolor sit amet...</span>
												</span>
								</a>
							</li>
							<li>
								<a href="">
									<span class="thumb"><img src="images/photos/user3.png" alt="" /></span>
									<span class="desc">
													<span class="name">Jane Doe</span>
													<span class="msg">Lorem ipsum dolor sit amet...</span>
												</span>
								</a>
							</li>
							<li>
								<a href="">
									<span class="thumb"><img src="images/photos/user4.png" alt="" /></span>
									<span class="desc">
													<span class="name">Mark Henry</span>
													<span class="msg">Lorem ipsum dolor sit amet...</span>
												</span>
								</a>
							</li>
							<li>
								<a href="">
									<span class="thumb"><img src="images/photos/user5.png" alt="" /></span>
									<span class="desc">
													<span class="name">Jim Doe</span>
													<span class="msg">Lorem ipsum dolor sit amet...</span>
												</span>
								</a>
							</li>
							<li class="new"><a href="">Read All Mails</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
						<i class="fa fa-bell-o"></i>
						<span class="badge">4</span>
					</a>
					<div class="dropdown-menu dropdown-menu-head pull-right">
						<h5 class="title">Notifications</h5>
						<ul class="dropdown-list normal-list">
							<li class="new">
								<a href="">
									<span class="label label-danger"><i class="fa fa-bolt"></i></span>
									<span class="name">Server #1 overloaded. </span>
									<em class="small">34 mins</em>
								</a>
							</li>
							<li class="new">
								<a href="">
									<span class="label label-danger"><i class="fa fa-bolt"></i></span>
									<span class="name">Server #3 overloaded. </span>
									<em class="small">1 hrs</em>
								</a>
							</li>
							<li class="new">
								<a href="">
									<span class="label label-danger"><i class="fa fa-bolt"></i></span>
									<span class="name">Server #5 overloaded. </span>
									<em class="small">4 hrs</em>
								</a>
							</li>
							<li class="new">
								<a href="">
									<span class="label label-danger"><i class="fa fa-bolt"></i></span>
									<span class="name">Server #31 overloaded. </span>
									<em class="small">4 hrs</em>
								</a>
							</li>
							<li class="new"><a href="">See All Notifications</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<img src="images/photos/user-avatar.png" alt="" />
						zrlee
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-usermenu pull-right">
						<li><a href="#"><i class="fa fa-user"></i>个人信息</a></li>
						<li><a href="#"><i class="fa fa-cog"></i>设置</a></li>
						<li><a href="#"><i class="fa fa-sign-out"></i>退出登录</a></li>
					</ul>
				</li>

			</ul>
		</div>
		<!--导航菜单结束notification menu end -->

	</div>
	<!-- header section end-->

	<!-- page heading start-->
	<div class="page-heading">
		<h3>
			创建试卷
		</h3>
		<ul class="breadcrumb">
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">试卷管理</a>
			</li>
			<li class="active">创建试卷 </li>
		</ul>
	</div>
	<!-- page heading end-->
	<hr />






	<!--body wrapper start-->
	<div class="wrapper">
		<div class="row">
			<div class="col-md-12">
				<div class="square-widget">
					<div class="widget-container">
						<div class="stepy-tab">
						</div>
						<form id="default" class="form-horizontal" method="post" action="__HOME__/paper">
							<fieldset title="创建试卷">

								<div class="row">
									<div class="panel">

										<div class="panel-body">
											<!-- 第一行开始 -->
											<div class="row">

												<div class="form-group col-md-6">
													<label class="col-md-3 col-sm-3 control-label">试卷名称:</label>
													<div class="col-md-9 col-sm-9">
														<input type="text" name="name" required id="" value="" class="form-control" />
													</div>
												</div>
												<div class="form-group  col-md-6">
													<label for="lastname" class="col-sm-3 control-label">试卷状态:</label>
													<div class="col-sm-9">
														<select name="status" class="form-control">
															<option value="1">开放</option>
															<option value="0">关闭</option>

														</select>
													</div>
												</div>

											</div>





											<!-- 试卷分类 -->
											<div class="row">

												<div class="form-group col-md-6">
													<label for="firstname" class="col-sm-3 control-label">试卷分类:</label>
													<div class="col-sm-9">
														<select name="cid" class="form-control" required>
															{volist id='vo' name='paper_cat'}
															<option value="{$vo.id}">{$vo.name}</option>
															{/volist}

														</select>
													</div>
												</div>

												<div class="form-group  col-md-6">
													<label for="lastname" class="col-sm-3 control-label">考试日期:</label>
													<div class="col-sm-9">
														<input type="" required name="start_date" id="test1" value="" class="form-control" />
													</div>
												</div>
											</div>
											<!-- 试卷分类 -->
											<!-- 第一行结束 -->

											<!-- 时间设置开始 -->
											<div class="row">
												<!-- 开始时间开始 -->
												<div class="form-group col-md-6">
													<label for="firstname" class="col-sm-3 control-label">开始时间:</label>
													<div class="col-sm-9">
														<input  name="start_time" required id="start_time" value="" class="form-control" />
													</div>
												</div>
												<!-- 开始时间结束 -->


												<!-- 结束时间开始 -->

												<div class="form-group col-md-6">
													<label for="firstname" class="col-sm-3 control-label">结束时间:</label>
													<div class="col-sm-9">
														<input type="" name="end_time" required id="end_time" value="" class="form-control" />
													</div>
												</div>

												<!-- 结束时间结束 -->
											</div>
											<!-- 时间设置结束 -->

											<!-- 参数配置 -->

											<div class="row">
												<!-- 考试时长考试 -->
												<div class="form-group col-md-6">
													<label for="firstname" class="col-sm-3 control-label">考试时长:</label>
													<div class="col-sm-9">
														<input type="number" name="duration" required id="" value="" placeholder="单位分钟" class="form-control" />
													</div>
												</div>

												<!-- 考试时长结束 -->

												<!-- 显示方式开始 -->

												<div class="form-group col-md-6">
													<label for="firstname" class="col-sm-3 control-label">显示方式:</label>
													<div class="col-sm-9">
														<select class="form-control">
															<option value="1">整卷显示</option>
															<option value="2">单题显示</option>

														</select>
													</div>

												</div>
												<!-- 显示方式结束 -->
											</div>

											<!-- 参数配置 -->

											<!-- 试卷说明start -->

											<div class="row">
												<div class="form-group col-md-6">
													<label for="firstname" class="col-sm-3 control-label">试卷说明:</label>
													<div class="col-sm-9">
																<textarea name="remark" rows="5" cols="80" class="form-control col-md-9"></textarea>
													</div>

												</div>

											</div>

											<!-- 试卷说明end -->



											<!--选择部门start-->

											<div class="row">
												<div class="form-group col-md-6">
													<label for="firstname" class="col-sm-3 control-label">选择班级:</label>
													<div class="col-sm-9">
														<select name="class_id[]" class="form-control" multiple="true">
															{volist id='vo' name='classz'}
															<option value="{$vo.id}">{$vo.name}</option>
															{/volist}

														</select>
													</div>


												</div>
											</div>




											<!--选择部门end-->
											





											<!-- 提交按钮开始 -->
											<div class="form-group col-md-12 ">
												<br>
												<div class="col-md-1"></div>
												<div class="col-md-6 col-sm-6" style="margin-left: 30px;">
													<input type="submit" class="btn btn-success btn-lg" value="提交" style="width: 120px;">
												</div>
											</div>
											<!-- 提交按钮结束 -->



										</div>
									</div>

								</div>






							</fieldset>


						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--body wrapper end-->

	<!--footer section start-->
	<footer class="sticky-footer">
		2019 &copy; AdminEx by ThemeBucket
	</footer>
	<!--footer section end-->


</div>
<!-- main content end-->



<script src="__STATIC__/laydate/laydate.js"></script> <!-- 改成你的路径 -->
<script>
    lay('#version').html('-v'+ laydate.v);

    //执行一个laydate实例
    laydate.render({
        elem: '#test1' //指定元素
    });

    // 开始时间
    laydate.render({
        elem: '#start_time'
        ,type: 'time'
        ,format: 'H:m'
    });

    laydate.render({
        elem: '#end_time'
        ,type: 'time'
        ,format: 'H:m'
    });
</script>

{/block}
