{extend name="base/base" /}
{block name="title"}标题{/block}

{block name="left"}

{include file="base/left_menu" /}

{/block}


{block name="main"}




	<!-- page heading start-->
	<div class="page-heading">
		<h3>
			考试记录

		</h3>

		<ul class="breadcrumb">
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">试卷管理</a>
			</li>
			<li class="active"> 考试记录</li>
		</ul>
	</div>
	<!-- page heading end-->


	<!--试卷详情开始-->

	<style>
		.paper-detail{
			margin:10px 20px 0 20px;
		}
	</style>
	<div class="paper-detail">
		<div class="row">
			<div class="col-md-12">
				<section class="panel">
					<header class="panel-heading">
						试卷信息
					</header>
					<div class="panel-body">
						<table class="table  table-bordered">
							<tr>
								<td>试卷名称</td>
								<td>{$paper.name}</td>
							</tr>
							<tr>
								<td>时间设定</td>
								<td>{:date('Y-m-d H:i:s', $paper.start_time_stamp)} -- {:date('Y-m-d H:i:s', $paper.end_time_stamp)}</td>
							</tr>
							<tr>
								<td>考试时长</td>
								<td>{$paper.duration} 分钟</td>
							</tr>
							<tr>
								<td>卷面总分</td>
								<td>{$paper.total_score}   (及格分数:{$paper.pass_score})</td>
							</tr>
						</table>

					</div>
				</section>
			</div>
		</div>

	</div>
	<!--试卷详情结束-->



	<!--body wrapper start-->
	<div class="wrapper">
		<div class="row">
			<div class="col-sm-12">
				<section class="panel">
					<header class="panel-heading">
						考试信息
						<!--<span class="tools pull-right">-->
						<!--<a href="javascript:;" class="fa fa-chevron-down"></a>-->
						<!--<a href="javascript:;" class="fa fa-times"></a>-->
						<!--</span>-->
					</header>
					<div class="panel-body">
						<div class="adv-table">
							<table class="table table-bordered table-striped">
								<thead>
								<tr>
									<th>用户名</th>
									<th>班级</th>
									<th>考号</th>
									<th >批改状态</th>
									<th>得分</th>

									<th>操作</th>
								</tr>
								</thead>
								<tbody>
								{volist name='examInfo' id='vo'}
								<tr class="gradeX" style="vertical-align: middle;">
									<td>{$vo.user.user_name}</td>
									<td>{$vo.user.clz.name}
									</td>

									<td>140344210</td>
									<td>已批改</td>
									<td>98</td>



									<td>
										<a href="create_paper.html">

											<div class="btn btn-warning">
												批阅试卷
											</div>
										</a>

										<a href="db_update.html">
											<div class="btn btn-danger">
												删除
											</div>
										</a>
									</td>
								</tr>

								{/volist}
								</tbody>


							</table>
						</div>
					</div>

					<!--分页开始-->
					<div class="panel-body">
						<section id="page">

							<div class="my-page pull-right">
								<ul class="pagination">
									<li><a href="#">&laquo;</a></li>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</div>


						</section>
					</div>
					<!--分页结束-->
				</section>
			</div>

		</div>

	</div>



	<!--body wrapper end-->


{/block}
