{extend name="base/base" /}
{block name="title"}标题{/block}

{block name="left"}

{include file="base/left_menu" /}

{/block}


{block name="main"}


	<!-- page heading start-->
	<div class="page-heading">
		<h3>
			试卷编辑
		</h3>
		<ul class="breadcrumb">
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">试卷管理</a>
			</li>
			<li class="active">试卷编辑 </li>
		</ul>
	</div>
	<!-- page heading end-->
	<hr />






	<!--body wrapper start-->
	<div class="wrapper">
		<div class="row">
			<div class="col-md-12">
				<div class="square-widget">
					<div class="widget-container">
						<div class="stepy-tab">
						</div>
						<form id="default" class="form-horizontal" method="post" action="__HOME__/paper/{$paper.id}">
							<fieldset title="创建试卷">
								<input type="hidden" name="_method" value="PUT" >
								<div class="row">
									<div class="panel">

										<div class="panel-body">
											<!-- 第一行开始 -->
											<div class="row">

												<div class="form-group col-md-6">
													<label class="col-md-3 col-sm-3 control-label">试卷名称:</label>
													<div class="col-md-9 col-sm-9">
														<input type="text" name="name"  required id="" value="{$paper.name}" class="form-control" />
													</div>
												</div>
												<div class="form-group  col-md-6">
													<label for="lastname" class="col-sm-3 control-label">试卷状态:</label>
													<div class="col-sm-9">
														<select name="status" class="form-control">
															<option value="1" {if $paper.status==1} selected="selected"{/if}>开放</option>
															<option value="0"  {if $paper.status==0} selected="selected"{/if}>关闭</option>

														</select>
													</div>
												</div>

											</div>





											<!-- 试卷分类 -->
											<div class="row">

												<div class="form-group col-md-6">
													<label for="firstname" class="col-sm-3 control-label">试卷分类:</label>
													<div class="col-sm-9">
														<select name="cid" class="form-control" required>
															{volist id='vo' name='paper_cat'}
															<option value="{$vo.id}" {if $vo.id == $paper.cid}selected="selected"{/if}>{$vo.name}</option>
															{/volist}

														</select>
													</div>
												</div>

												<div class="form-group  col-md-6">
													<label for="lastname" class="col-sm-3 control-label">考试日期:</label>
													<div class="col-sm-9">
														<input type="" required name="start_date" id="test1" value="{$paper.start_date}" class="form-control" />
													</div>
												</div>
											</div>
											<!-- 试卷分类 -->
											<!-- 第一行结束 -->

											<!-- 时间设置开始 -->
											<div class="row">
												<!-- 开始时间开始 -->
												<div class="form-group col-md-6">
													<label for="firstname" class="col-sm-3 control-label">开始时间:</label>
													<div class="col-sm-9">
														<input  name="start_time" required id="start_time" value="{$paper.start_time}" class="form-control" />
													</div>
												</div>
												<!-- 开始时间结束 -->


												<!-- 结束时间开始 -->

												<div class="form-group col-md-6">
													<label for="firstname" class="col-sm-3 control-label">结束时间:</label>
													<div class="col-sm-9">
														<input type="" name="end_time" required id="end_time" value="{$paper.end_time}" class="form-control" />
													</div>
												</div>

												<!-- 结束时间结束 -->
											</div>
											<!-- 时间设置结束 -->

											<!-- 参数配置 -->

											<div class="row">
												<!-- 考试时长考试 -->
												<div class="form-group col-md-6">
													<label for="firstname" class="col-sm-3 control-label">考试时长:</label>
													<div class="col-sm-9">
														<input type="number" name="duration" required id="" value="{$paper.duration}" placeholder="单位分钟" class="form-control" />
													</div>
												</div>

												<!-- 考试时长结束 -->

												<!-- 显示方式开始 -->

												<div class="form-group col-md-6">
													<label for="firstname" class="col-sm-3 control-label">显示方式:</label>
													<div class="col-sm-9">
														<select class="form-control">
															<option value="1">整卷显示</option>
															<option value="2">单题显示</option>

														</select>
													</div>

												</div>
												<!-- 显示方式结束 -->
											</div>

											<!-- 参数配置 -->

											<!-- 试卷说明start -->

											<div class="row">
												<div class="form-group col-md-6">
													<label for="firstname" class="col-sm-3 control-label">试卷说明:</label>
													<div class="col-sm-9">
																<textarea name="remark" rows="5" cols="80" class="form-control col-md-9">{$paper.remark}</textarea>
													</div>

												</div>

											</div>

											<!-- 试卷说明end -->



											<!--选择部门start-->

											<div class="row">
												<div class="form-group col-md-6">
													<label for="firstname" class="col-sm-3 control-label">选择班级:</label>
													<div class="col-sm-9">
														<select name="class_id[]" class="form-control" multiple="true">
															{volist id='vo' name='classz'}
															<option value="{$vo.id}" {if strchr($paper.class_id, $vo.id)}selected{/if}>{$vo.name}</option>
															{/volist}

														</select>
													</div>


												</div>
											</div>




											<!--选择部门end-->
											





											<!-- 提交按钮开始 -->
											<div class="form-group col-md-12 ">
												<br>
												<div class="col-md-1"></div>
												<div class="col-md-6 col-sm-6" style="margin-left: 30px;">
													<input type="submit" class="btn btn-success btn-lg" value="提交" style="width: 120px;">
												</div>
											</div>
											<!-- 提交按钮结束 -->



										</div>
									</div>

								</div>






							</fieldset>


						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--body wrapper end-->




<script src="__STATIC__/laydate/laydate.js"></script> <!-- 改成你的路径 -->
<script>
    lay('#version').html('-v'+ laydate.v);

    //执行一个laydate实例
    laydate.render({
        elem: '#test1' //指定元素
    });

    // 开始时间
    laydate.render({
        elem: '#start_time'
        ,type: 'time'
        ,format: 'H:m'
    });

    laydate.render({
        elem: '#end_time'
        ,type: 'time'
        ,format: 'H:m'
    });
</script>

{/block}
