{extend name="base/base" /}
{block name="title"}标题{/block}

{block name="left"}

{include file="base/left_menu" /}

{/block}


{block name="main"}


	<!-- page heading start-->
	<div class="page-heading">
		<h3>
			考试详情
		</h3>
		<ul class="breadcrumb">
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">我的考试</a>
			</li>
			<li class="active"> 2019大学JavaEE期末考试</li>
		</ul>
	</div>
	<!-- page heading end-->
	<!--body wrapper start-->
	<div class="wrapper" style="width:75%;float:left;">
		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading text-center">
						<p class="h3">{$paper.category.name}</p>
					</div>
					<!--试卷信息开始-->
					<div class="panel-body">
						<div class="row">
							<div class="subject text-left" style="font-size: 18px;">
								<div class="col-md-3">科目:{$paper.name}</div>
								<div class="col-md-3">命题教师:{$paper.poster}</div>
								<div class="col-md-6">考试时间:{$paper.start_date} {$paper.start_time} - {$paper.start_date} {$paper.end_time}</div>
								<span></span>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="subject text-left lead" style="font-size: 18px;">
								<div class="col-md-3">总分:{$paper.total_score}</div>
								<!--<div class="col-md-3">成绩:99</div>-->
								<div class="col-md-3"></div>
								<span></span>
							</div>
						</div>
						<hr>
					</div>
					<!--试卷信息结束-->
					<div class="row" >
						<form action="__HOME__/api/paper/store" method="post" id="form">

							<input type="hidden" name="total_score" value="0" id="total_score">
							<input type="hidden" name="id" value="{$id}">
							<input type="hidden" name="name" value="{$paper.name}">
							<input type="hidden" name="start_time" value="{$paper.start_time}">
							<input type="hidden" name="end_time" value="{$paper.end_time}">
							<input type="hidden" name="start_date" value="{$paper.start_date}">
							<input type="hidden" name="duration" value="{$paper.duration}">
							<input type="hidden" name="pass_score" value="{$paper.pass_score}">
							<input type="hidden" name="remark" value="{$paper.remark}">
							<div class="exam_content" id="exam_content">
								<div style="margin: 9px 0 5px;" class="btn-group">
									<button class="btn btn-info" type="button" style="margin-right:10px;margin-left:10px;" id="add_chapter">增加章节</button>
									<button class="btn btn-info" type="button" style="margin-right:10px;" id="deploy_shrink">展开/收缩</button>
								</div>
								<!--<div class="chapter" data-index="1">-->
									<!--<div class="chapter_label" >-->
										<!--<span class="chapter_name">章节名称</span>-->
										<!--<input type="text"  name="sessions[1][name]"  required />-->
									<!--</div>-->
									<!--<div class="chapter_label">-->
										<!--<span class="chapter_name">章节描述</span>-->
										<!--<input type="text" name="sessions[1][desc]"   required />-->
									<!--</div>-->


								<!--</div>-->


								{volist name='paper_data.sessions' id='vo' key='k'}


								<div class="chapter" data-index="{$k}">
									<div class="chapter_label" >
										<span class="chapter_name">章节名称</span>
										<input type="text"  name="sessions[{$k}][name]" value="{$vo.name}"  required />
									</div>
									<div class="chapter_label">
										<span class="chapter_name">章节描述</span>
										<input type="text" name="sessions[{$k}][desc]"  value="{$vo.desc}"  required />
									</div>


									{if isset($vo.questions)}

									{volist name='vo.questions' id='qsn'}

									<div class="chapter_question">
										<div class="remove_box"><span class="score">分值</span>
											<input type="text" class="scoreText" name="sessions[{$k}][questions][{$qsn.id}][score]" value="{$qsn.score}">
											<input type="text" hidden="" name="sessions[{$k}][questions][{$qsn.id}][data]" value="{$qsn.data}">
											<input type="text" hidden="hidden" name="sessions[{$k}][questions][{$qsn.id}][id]" value="{$qsn.id}">
											<input type="text" hidden="hidden" name="sessions[{$k}][questions][{$qsn.id}][name]" value="{$qsn.name}">
											<input type="text" hidden="hidden" name="sessions[{$k}][questions][{$qsn.id}][type]" value="{$qsn.type}">
											<input type="text" hidden="hidden" name="sessions[{$k}][questions][{$qsn.id}][key]" value="{$qsn.key}">
											<span class="about">{$qsn.name}</span>
										</div>
										<input class="btn btn-danger exam" type="button" value="删除">
									</div>
									{/volist}
									{/if}


								</div>


								{/volist}


								
								

							</div>

							<div class="row" style="margin: 40px">
								<input type="button" value="提交" id="submitButton" class="btn btn-success btn-lg">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="exam_test" style="width: 300px; position: fixed;right: 0;top: 30px;" >
		<div style="margin-top:10px;margin-left:10px;">

			<div class="btn-group">
				<select class="form-control qsn_type">
					<option value="0"> 题目类型</option>
					<option value="1"> 单选题</option>
					<option value="2"> 多选题</option>
					<option value="3"> 判断题</option>
					<option value="4"> 填空题</option>
					<option value="5"> 简答题</option>
				</select>

			</div>


			<div class="btn-group">
				<select class="form-control db_cate" style="width: 100px" >
					<option value="0">所属题库</option>
					{volist name='db' id='vo'}
					<option value="{$vo.id}">{$vo.name}</option>
					{/volist}
				</select>
			</div><!-- /btn-group -->

		</div>
		<ul class="exam_question" style="overflow: scroll;height: 600px;">


			<li> 当前页数: <span class="current-page">1</span> / <span class="count-page">{$count}</span> <span class="btn btn-sm btn-primary prev-qsn"  disabled="true">上一页</span> <span class="btn btn-sm btn-primary next-qsn" >下一页</span> </li>
			{volist name='questions' id='vo'}
			<li class="qst_title" data-key="{$vo.key}" data-id="{$vo.id}" data-title="{$vo.title}" data-data="{$vo.data}"  data-qtype="{$vo.type}">{$vo.title}</li>
			{/volist}


		</ul>


	</div>
	<!--body wrapper end-->




<script src="__STATIC__/js/exam.js"></script>

<script>
	$(function () {

	    var page  = 1 ;

	    // 题目类型选择改变动作 start
		$('.qsn_type').change(function(){
		    page = 1
            $('.current-page').html(page)
            $('.next-qsn').removeAttr('disabled')
            // 移除原来的元素
            $('.qst_title').remove() ;
		    let qsn_type = $('.qsn_type').val()
			let dbid = $('.db_cate').val()
			if (qsn_type){
			    // 发起请求 请求题目

				data = {}

				if (qsn_type!=0 && qsn_type!=null){

                    data = {type:qsn_type}
                }

				if (dbid!=0 && dbid != null){
				    data.dbid = dbid
					console.log(data)
				}
                data.page = page

				$.get('__HOME__/api/paper/find', data , function (res){
				    console.log(res)


					$('.count-page').html(res.count)
				    if (res.status == 200) {
                        if(res.data.length < 9 && res.data.length >=1){

                            $('.next-qsn').attr('disabled' , 'true')

                        }
						// 添加刚获取到的题目

						for (let index in res.data){
						    // console.log(res.data[index]) ;
							// 构建元素

                            var opt = document.createElement("li");
                            opt.className = 'qst_title'
                            opt.dataset.data = res.data[index].data
                            opt.dataset.qtype = res.data[index].type
                            opt.dataset.title = res.data[index].title
                            opt.dataset.id = res.data[index].id
                            opt.dataset.key = res.data[index].key
							opt.innerHTML = res.data[index].title
							// var opt = `<li class="qst_title"    data-qtype="`+ res.data[index].type +`" data-data="`+ res.data[index].data +`" data-title="`+ res.data[index].title +`"  data-id="`+ res.data[index].id +`" >`+ res.data[index].title +`</li>`

							$('.exam_question').append(opt)
						}
						
					}else{

				        alert('没有相关的题目！请先添加题目！')
					}


				} )

			}


		}) ;
        // 题目类型选择改变动作 end


		// 选择题库变化start
		$('.db_cate').change(function(){
		    page = 1 ;
		    $('.current-page').html(page)
            $('.next-qsn').removeAttr('disabled')
            // 移除原来的元素
            $('.qst_title').remove() ;
            let qsn_type = $('.qsn_type').val()
            let dbid = $('.db_cate').val()

            data = {}

            if (qsn_type!=0 && qsn_type!=null){

                data = {type:qsn_type}
            }

            if (dbid!=0 && dbid != null){
                data.dbid = dbid
                console.log(data)
            }
            data.page = page

            $.get('__HOME__/api/paper/find', data , function (res){
                console.log(res)
                $('.count-page').html(res.count)
                if (res.status == 200) {
                    if(res.data.length < 9 && res.data.length >=1){

                        $('.next-qsn').attr('disabled' , 'true')
                    }


                    // 添加刚获取到的题目

                    for (let index in res.data){
                        // console.log(res.data[index]) ;
                        // 构建元素
                        // let opt = `<li class="qst_title">`+ res.data[index].title +`</li>`
						qdata = ``+res.data[index].data +``

                        var opt = document.createElement("li");
                        opt.className = 'qst_title'
                        opt.dataset.data = res.data[index].data
                        opt.dataset.qtype = res.data[index].type
                        opt.dataset.title = res.data[index].title
                        opt.dataset.id = res.data[index].id
                        opt.dataset.key = res.data[index].key
                        opt.innerHTML = res.data[index].title
                        // var opt = `<li class="qst_title"  data-qtype="`+ res.data[index].type +`" data-data="`+ qdata+`" data-title="`+ res.data[index].title +`"  data-id="`+ res.data[index].id +`" >`+ res.data[index].title +`</li>`
                        $('.exam_question').append(opt)
                    }

                }else{
                    alert('没有相关的题目！请先添加题目！')
                }


            } )


		});
		// 选择题目变化end


		// 点击下一页
		$('.next-qsn').click(function(){

		    page ++
            let qsn_type = $('.qsn_type').val()
            let dbid = $('.db_cate').val()
            data = {}

            if (qsn_type!=0 && qsn_type!=null){

                data = {type:qsn_type}
            }

            if (dbid!=0 && dbid != null){
                data.dbid = dbid
                console.log(data)
            }
            data.page = page

            $.get('__HOME__/api/paper/find', data , function (res) {
                if (res.status == 200) {
                    $('.count-page').html(res.count)

                    if(res.data.length < 9 && res.data.length >=1){

                        $('.next-qsn').attr('disabled' , 'true')
                        $('.prev-qsn').removeAttr('disabled')
					}else{
                        $('.prev-qsn').removeAttr('disabled')
                        $('.next-qsn').removeAttr('disabled')
					}
                    $('.qst_title').remove() ;
                    // 添加刚获取到的题目

                    for (let index in res.data){
                        // console.log(res.data[index]) ;
                        // 构建元素
                        // let opt = `<li class="qst_title">`+ res.data[index].title +`</li>`
                        qdata = ``+res.data[index].data +``

                        var opt = document.createElement("li");
                        opt.className = 'qst_title'
                        opt.dataset.data = res.data[index].data
                        opt.dataset.qtype = res.data[index].type
                        opt.dataset.title = res.data[index].title
                        opt.dataset.id = res.data[index].id
                        opt.dataset.key = res.data[index].key
                        opt.innerHTML = res.data[index].title
                        // var opt = `<li class="qst_title"  data-qtype="`+ res.data[index].type +`" data-data="`+ qdata+`" data-title="`+ res.data[index].title +`"  data-id="`+ res.data[index].id +`" >`+ res.data[index].title +`</li>`
                        $('.exam_question').append(opt)
                    }

                }else{
                    $('.next-qsn').attr('disabled' , 'true')
                    alert('已经是最后一页！')
                }

            })


			$('.current-page').html(page)





		})  // end 点击下一页



		// 点击上一页
		$('.prev-qsn').click(function () {
            page --
            let qsn_type = $('.qsn_type').val()
            let dbid = $('.db_cate').val()
            data = {}

            if (qsn_type!=0 && qsn_type!=null){

                data = {type:qsn_type}
            }

            if (dbid!=0 && dbid != null){
                data.dbid = dbid
                console.log(data)
            }
            data.page = page

			if (page < 1){

                $('.prev-qsn').attr('disabled' , 'true')
				$('.next-qsn').removeAttr('disabled')
                alert('没有相关的题目！请先添加题目！')
				// 当page=1 的时候点击上一页 page变成0 因此吧page回归到第一页
				page =1
			    return ;
			}else{
                $('.next-qsn').removeAttr('disabled')
			}



            $.get('__HOME__/api/paper/find', data , function (res) {
                if (res.status == 200) {


                    if (page == 1){

                        $('.prev-qsn').attr('disabled' , 'true')

                    }else{
                        $('.next-qsn').removeAttr('disabled')
					}


                    $('.qst_title').remove() ;
                    // 添加刚获取到的题目

                    for (let index in res.data){
                        // console.log(res.data[index]) ;
                        // 构建元素
                        // let opt = `<li class="qst_title">`+ res.data[index].title +`</li>`
                        qdata = ``+res.data[index].data +``

                        var opt = document.createElement("li");
                        opt.className = 'qst_title'
                        opt.dataset.data = res.data[index].data
                        opt.dataset.qtype = res.data[index].type
                        opt.dataset.title = res.data[index].title
                        opt.dataset.id = res.data[index].id
                        opt.dataset.key = res.data[index].key
                        opt.innerHTML = res.data[index].title
                        // var opt = `<li class="qst_title"  data-qtype="`+ res.data[index].type +`" data-data="`+ qdata+`" data-title="`+ res.data[index].title +`"  data-id="`+ res.data[index].id +`" >`+ res.data[index].title +`</li>`
                        $('.exam_question').append(opt)
                    }

                }else{
                    $('.prev-qsn').attr('disabled' , 'true')
                    $('.next-qsn').removeAttr('disabled')
                    alert('没有相关的题目！请先添加题目！')

                }

            })

            $('.current-page').html(page)
		})// end 点击上一页


    })

</script>

{/block}
