{extend name="base/base" /}
{block name="title"}标题{/block}

{block name="left"}

{include file="base/left_menu" /}

{/block}


{block name="main"}


	<!-- page heading start-->
	<div class="wrapper">
		<h3>
			首页
		</h3>
		<hr>
		<!-- <ul class="breadcrumb">
            <li>
                <a href="#">考试中心</a>
            </li>
            <li class="active">首页</li>
        </ul> -->
	</div>
	<!-- page heading end-->

	<div class="wrapper">
		<div class="row">
			<div class="panel">
				<div class="panel-body">
					<h4>欢迎使用网络考试系统</h4>
				</div>
			</div>
		</div>
	</div>

	<!--body wrapper start-->
	<div class="wrapper clearfix">
		<div class="row">

			<div class="col-md-8">
				<!-- 统计开始 -->
				<div class="panel">
					<div class="panel-body">
						<h4>数据统计</h4>
						<table class="table table-bordered table-striped table-hover">



							<tr>
								<td>用户统计</td>
								<td>学生 : {$count.student} </td>
							</tr>
							<tr>
								<td>题库统计</td>
								<td>题库数量 : {$count.db} , 试题数量 : {$count.question}</td>
							</tr>
							<tr>
								<td>试题统计</td>
								<td>单选题 : {$count.dx} ,  判断题 : {$count.pd} , 填空题 : {$count.tk} , 问答题 : {$count.jd}</td>
							</tr>
							<tr>
								<td>试卷统计</td>
								<td>试卷数量 : 2 , 进行中 : 0 , 已结束 : 2</td>
							</tr>
						</table>
					</div>
				</div>
				<!-- 统计结束 -->
			</div>

			<div class="col-md-4">
				<!--系统通知开始-->
				<div class="panel">
					<header class="panel-heading">
						通知公告


					</header>
					<div class="panel-body">
						<ul class="to-do-list" id="">
							{volist name='news' id='new'}
							<li class="clearfix" style="cursor: pointer;" >

								<a href="__HOME__/news/{$new.id}" style="color: #000000">
								<p class="todo-title">
									[{$new.cate.name}]{$new.title}
								</p>
								</a>

							</li>
							{/volist}


							<a href="__HOME__/news" style="color: #000000">
							<p class="todo-title">
								查看更多
							</p>
							</a>




						</ul>

					</div>


				</div>
				<!--系统通知结束-->
			</div>




		</div>




	</div>
	<!--body wrapper end-->
	<!--footer section start-->


{/block}
