{extend name="base/base" /}
{block name="title"}标题{/block}

{block name="left"}

{include file="base/left_menu" /}

{/block}


{block name="main"}
<!-- main content start-->
<div class="main-content">

	<!-- header section start-->
	<div class="header-section">

		<!--toggle button start-->
		<a class="toggle-btn"><i class="fa fa-bars"></i></a>
		<!--toggle button end-->

		<!--搜索开始-->
		<form class="searchform" action="index.html" method="post">
			<input type="text" class="form-control" name="keyword" placeholder="Search here..." />
		</form>
		<!--搜索结束-->

		<!--导航（通知）菜单开始notification menu start -->
		<div class="menu-right">
			<ul class="notification-menu">
				<li>
					<a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
						<i class="fa fa-tasks"></i>
						<span class="badge">8</span>
					</a>
					<div class="dropdown-menu dropdown-menu-head pull-right">
						<h5 class="title">你有8门需要考试的科目</h5>
						<ul class="dropdown-list user-list">
							<li class="new">
								<a href="#">
									<div class="task-info">
										<div>JavaEE企业级开发考试</div>
									</div>
								</a>
							</li>
							<li class="new">
								<a href="#">
									<div class="task-info">
										<div>大学英语4</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="task-info">
										<div>高等数学</div>
									</div>
								</a>
							</li>


							<li class="new"><a href="">查看所有考试</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
						<i class="fa fa-envelope-o"></i>
						<span class="badge">5</span>
					</a>
					<div class="dropdown-menu dropdown-menu-head pull-right">
						<h5 class="title">你有5条未读消息</h5>
						<ul class="dropdown-list normal-list">
							<li class="new">
								<a href="">
									<span class="thumb"><img src="images/photos/user1.png" alt="" /></span>
									<span class="desc">
													<span class="name">John Doe <span class="badge badge-success">new</span></span>
													<span class="msg">Lorem ipsum dolor sit amet...</span>
												</span>
								</a>
							</li>
							<li>
								<a href="">
									<span class="thumb"><img src="images/photos/user2.png" alt="" /></span>
									<span class="desc">
													<span class="name">Jonathan Smith</span>
													<span class="msg">Lorem ipsum dolor sit amet...</span>
												</span>
								</a>
							</li>
							<li>
								<a href="">
									<span class="thumb"><img src="images/photos/user3.png" alt="" /></span>
									<span class="desc">
													<span class="name">Jane Doe</span>
													<span class="msg">Lorem ipsum dolor sit amet...</span>
												</span>
								</a>
							</li>
							<li>
								<a href="">
									<span class="thumb"><img src="images/photos/user4.png" alt="" /></span>
									<span class="desc">
													<span class="name">Mark Henry</span>
													<span class="msg">Lorem ipsum dolor sit amet...</span>
												</span>
								</a>
							</li>
							<li>
								<a href="">
									<span class="thumb"><img src="images/photos/user5.png" alt="" /></span>
									<span class="desc">
													<span class="name">Jim Doe</span>
													<span class="msg">Lorem ipsum dolor sit amet...</span>
												</span>
								</a>
							</li>
							<li class="new"><a href="">Read All Mails</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
						<i class="fa fa-bell-o"></i>
						<span class="badge">4</span>
					</a>
					<div class="dropdown-menu dropdown-menu-head pull-right">
						<h5 class="title">Notifications</h5>
						<ul class="dropdown-list normal-list">
							<li class="new">
								<a href="">
									<span class="label label-danger"><i class="fa fa-bolt"></i></span>
									<span class="name">Server #1 overloaded. </span>
									<em class="small">34 mins</em>
								</a>
							</li>
							<li class="new">
								<a href="">
									<span class="label label-danger"><i class="fa fa-bolt"></i></span>
									<span class="name">Server #3 overloaded. </span>
									<em class="small">1 hrs</em>
								</a>
							</li>
							<li class="new">
								<a href="">
									<span class="label label-danger"><i class="fa fa-bolt"></i></span>
									<span class="name">Server #5 overloaded. </span>
									<em class="small">4 hrs</em>
								</a>
							</li>
							<li class="new">
								<a href="">
									<span class="label label-danger"><i class="fa fa-bolt"></i></span>
									<span class="name">Server #31 overloaded. </span>
									<em class="small">4 hrs</em>
								</a>
							</li>
							<li class="new"><a href="">See All Notifications</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<img src="images/photos/user-avatar.png" alt="" />
						zrlee
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-usermenu pull-right">
						<li><a href="#"><i class="fa fa-user"></i>个人信息</a></li>
						<li><a href="#"><i class="fa fa-cog"></i>设置</a></li>
						<li><a href="#"><i class="fa fa-sign-out"></i>退出登录</a></li>
					</ul>
				</li>

			</ul>
		</div>
		<!--导航菜单结束notification menu end -->

	</div>
	<!-- header section end-->

	<!-- page heading start-->
	<div class="page-heading">
		<h3>
			教师修改
		</h3>
		<ul class="breadcrumb">
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">教师管理</a>
			</li>
			<li class="active">教师修改</li>
		</ul>
	</div>
	<!-- page heading end-->
	<hr />






	<!--body wrapper start-->
	<div class="wrapper">
		<div class="row">
			<div class="col-md-12">
				<div class="square-widget">
					<div class="widget-container">
						<div class="stepy-tab">
						</div>
						<form id="default" class="form-horizontal" method="post" action="__HOME__/teacher/{$user.id}">
							<fieldset title="试卷分类修改">
								<legend></legend>
								<input type="hidden" name="_method" value="PUT" >
								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">教师登录名</label>
									<div class="col-md-6 col-sm-6">
										<input type="text" placeholder="登录名" required="required" name="user_name" value="{$user.user_name}" class="form-control">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">真实名字</label>
									<div class="col-md-6 col-sm-6">
										<input type="text" name="real_name" required="required" placeholder="真实名字" value="{$user.real_name}" class="form-control">
									</div>
								</div>




								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">&nbsp;</label>
									<div class="col-md-6 col-sm-6">
										<input type="submit" class="btn btn-success btn-lg" value="提交" style="width: 80px;">
									</div>
								</div>


							</fieldset>


						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--body wrapper end-->

	<!--footer section start-->
	<footer class="sticky-footer">
		2019 &copy; AdminEx by ThemeBucket
	</footer>
	<!--footer section end-->

	<script charset="utf-8" src="__STATIC__/js/jquery-1.10.2.min.js"></script>


	<script>
        $(function(){

            $('input[name="name"]').blur(function(){
                var name = $(this).val() ;
                if (name.length > 0){

                    const clz = name.replace(/\-/g,"_")



                    $.get('__HOME__/api/dept/check/'+ clz, function (data){
                        if (data == 1){


                            $('#myModal').modal('show') ;
                        }
                    })
                }
            })
        })
	</script>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">提示信息</h4>
				</div>
				<div class="modal-body">
					院系已经存在了！
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>



</div>
<!-- main content end-->>
{/block}
