{extend name="base/base" /}
{block name="title"}标题{/block}

{block name="left"}

{include file="base/left_menu" /}

{/block}


{block name="main"}


	<!-- page heading start-->
	<div class="page-heading">
		<h3>
			题库管理
		</h3>
		<ul class="breadcrumb">
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">题库管理</a>
			</li>
			<li class="active">增加题库</li>
		</ul>
	</div>
	<!-- page heading end-->
	<hr />






	<!--body wrapper start-->
	<div class="wrapper">

		<div class="row">
			<div class="col-md-12">
				<div class="square-widget">
					<div class="widget-container">
						<div class="stepy-tab">
						</div>
						<form id="default" class="form-horizontal" method="post" action="__HOME__/db">
							<fieldset title="增加题库" >
								<legend></legend>
								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">题库名称</label>
									<div class="col-md-6 col-sm-6">
										<input type="text" name="name" placeholder="题库名称" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">状态</label>
									<div class="col-md-6 col-sm-6">
										<select class="form-control" name="status">
											<option class="form-control">状态</option>
											<option class="form-control" value="1" selected="selected">开放</option>
											<option class="form-control" value="0">关闭</option>
										</select>
										<!--<input type="text" name="status" placeholder="状态" class="form-control">-->
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">题库说明</label>
									<div class="col-md-6 col-sm-6">
										<input type="tel" name="remark" placeholder="题库说明" class="form-control">
									</div>
								</div>

								<!--token 隐藏域-->
								<!--<input type="hidden" name="__token__" value="{$Request.token}">-->


								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">&nbsp;</label>
									<div class="col-md-6 col-sm-6">
										<input type="submit" class="btn btn-success btn-lg" value="提交" style="width: 80px;">
									</div>
								</div>


							</fieldset>


						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--body wrapper end-->



{/block}
