{extend name="base/base" /}
{block name="title"}标题{/block}

{block name="left"}

{include file="base/left_menu" /}

{/block}


{block name="main"}




	<!-- page heading start-->
	<div class="page-heading">
		<h3>
			题库列表

		</h3>

		<ul class="breadcrumb">
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">题库管理</a>
			</li>
			<li class="active"> 题库列表</li>
		</ul>
	</div>
	<!-- page heading end-->

	<!--body wrapper start-->
	<div class="wrapper">
		<div class="row">
			<div class="col-sm-12">
				<section class="panel">
					<header class="panel-heading">
						题库管理，您可以在如下列表中选择题库进行修改或删除
						<!--<span class="tools pull-right">-->
						<!--<a href="javascript:;" class="fa fa-chevron-down"></a>-->
						<!--<a href="javascript:;" class="fa fa-times"></a>-->
						<!--</span>-->
					</header>
					<div class="panel-body">
						<div class="adv-table">
							<table class="table table-bordered table-striped">
								<thead>
								<tr>
									<th>题库名称</th>
									<th>状态</th>
									<th>试题数量</th>
									<th >创建人</th>
									<th >创建时间</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>
								{volist name='list' id='vo'}
								<tr class="gradeX" style="vertical-align: middle;">
									<td>{$vo.name}</td>
									<td>
										{if $vo.status==1} 开放 {else/} 关闭 {/if}
									</td>
									<td>{$vo.question_count}</td>
									<td>{$vo.poster}</td>
									<td>{:date('Y-m-d H:i:s', $vo.createdate)}</td>
									<td>
										<a href="__HOME__/db/{$vo.id}/edit">
											<div class="btn btn-warning">
												修改
											</div>
										</a>
										<div class="btn btn-success">
											数据分析

										</div>

											<form style="display: inline-block" action="__HOME__/db/{$vo.id}" method="post">
												<input type="hidden" name="_method" value="DELETE" >
												<input class="btn btn-danger" value="删除" type="submit">


											</form>

									</td>
								</tr>
								{/volist}
								</tbody>


							</table>
						</div>
					</div>


					<!--分页开始-->
					<div class="panel-body">
						<section id="page">

							<div class="my-page pull-right">
								{$list|raw}
							</div>


						</section>
					</div>
					<!--分页结束-->
				</section>
			</div>

		</div>

	</div>



	<!--body wrapper end-->



{/block}
