{extend name="base/base" /}
{block name="title"}标题{/block}

{block name="left"}

{include file="base/left_menu" /}

{/block}


{block name="main"}


	<!-- page heading start-->
	<div class="page-heading">
		<h3>
			院系新增
		</h3>
		<ul class="breadcrumb">
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">院系管理</a>
			</li>
			<li class="active">院系新增</li>
		</ul>
	</div>
	<!-- page heading end-->
	<hr />






	<!--body wrapper start-->
	<div class="wrapper">
		<div class="row">
			<div class="col-md-12">
				<div class="square-widget">
					<div class="widget-container">
						<div class="stepy-tab">
						</div>
						<form id="default" class="form-horizontal" method="post" action="__HOME__/dept">
							<fieldset title="试卷分类修改">
								<legend></legend>
								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">院系名称</label>
									<div class="col-md-6 col-sm-6">
										<input type="text" placeholder="院系名称" required="required" name="name" class="form-control">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">院系说明</label>
									<div class="col-md-6 col-sm-6">
										<input type="text" name="remark" required="required" placeholder="分类说明" class="form-control">
									</div>
								</div>


								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">&nbsp;</label>
									<div class="col-md-6 col-sm-6">
										<input type="submit" class="btn btn-success btn-lg" value="提交" style="width: 80px;">
									</div>
								</div>


							</fieldset>


						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--body wrapper end-->



	<script charset="utf-8" src="__STATIC__/js/jquery-1.10.2.min.js"></script>


	<script>
        $(function(){

            $('input[name="name"]').blur(function(){
                var name = $(this).val() ;
                if (name.length > 0){

                    const clz = name.replace(/\-/g,"_")



                    $.get('__HOME__/api/dept/check/'+ clz, function (data){
                        if (data == 1){


                            $('#myModal').modal('show') ;
                        }
                    })
                }
            })
        })
	</script>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">提示信息</h4>
				</div>
				<div class="modal-body">
					院系已经存在了！
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>



{/block}
