{extend name="base/base" /}
{block name="title"}标题{/block}

{block name="left"}

{include file="base/left_menu" /}

{/block}


{block name="main"}

<script charset="utf-8" src="__STATIC__/js/jquery-1.10.2.min.js"></script>



	<!-- page heading start-->
	<div class="page-heading">
		<h3>
			试题管理

		</h3>

		<ul class="breadcrumb">
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">题库管理</a>
			</li>
			<li class="active"> 试题管理</li>
		</ul>
	</div>
	<!-- page heading end-->

	<!--body wrapper start-->
	<div class="wrapper">
		<div class="row">
			<div class="col-sm-12">
				<section class="panel">
					<header class="panel-heading">
						试题管理，您可以在如下列表中选择试题进行修改或删除。
						<!--<span class="tools pull-right">-->
						<!--<a href="javascript:;" class="fa fa-chevron-down"></a>-->
						<!--<a href="javascript:;" class="fa fa-times"></a>-->
						<!--</span>-->
					</header>
					<div class="panel-body">

						<div class="question-search">

						</div>


						<div class="adv-table">
							<table class="table table-bordered table-striped">
								<thead>
								<tr>
									<th>所属题库</th>
									<th>试题类型</th>
									<th>试题状态</th>
									<th >试题题干</th>
									<th >创建人</th>
									<th >创建时间</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>


								{volist name='list' id='vo'}
								<tr class="gradeX" style="vertical-align: middle;">
									<td>{$vo.title}</td>
									<td>
										{switch $vo.type }
										{case 1 }单选题{/case}
										{case 2}多选题{/case}
										{case 3}判断题{/case}
										{case 4}填空题{/case}
										{case 5}简答题{/case}

										{/switch}
									</td>
									<td>{if $vo.status=1}开放{else/} 关闭{/if}</td>

									<td>{$vo->dbinfo->name}</td>

									<td>{$vo.author}</td>
									<td> {:date('Y-m-d H:i:s', $vo.createdate)}</td>
									<td>
										<div class="btn btn-success question_preview" data-qid="{$vo.id}" id="">
											预览
										</div>
										<a href="__HOME__/question/{$vo.id}/edit">
											<div class="btn btn-warning">
												修改
											</div>
										</a>

										<form style="display: inline-block" action="__HOME__/question/{$vo.id}" method="post">
											<input type="hidden" name="_method" value="DELETE" >
											<input class="btn btn-danger" value="删除" type="submit">


										</form>

									</td>
								</tr>

								{/volist}
								</tbody>


							</table>
						</div>
					</div>
					<!--分页开始-->
					<div class="panel-body">
						<section id="page">

							<div class="my-page pull-right">
								{$list|raw}
							</div>


						</section>
					</div>
					<!--分页结束-->
				</section>
			</div>

		</div>

	</div>

	<!-- Modal -->
	<div class="modal fade bs-example-modal-lg"  id="question_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog " style="width: 60%;" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">试题预览</h4>
				</div>
				<div class="modal-body">
					<table class="table table-striped table-bordered">
						<tr>
							<td width="15%">试题类型</td>
							<td class="type">
								type
							</td>
						</tr>
						<tr>
							<td width="15%">试题难度</td>
							<td class="q-level"></td>
						</tr>
						<tr>
							<td width="15%">所属题库</td>
							<td class="q-db"></td>
						</tr>
						<tr>
							<td width="15%">试题状态</td>
							<td class="q-status"></td>
						</tr>
						<tr>
							<td width="15%">试题题干</td>
							<td class="q-title"></td>
						</tr>
						<tr>
							<td width="15%">选项设置</td>
							<td class="item-setting"></td>
						</tr>

						<tr>
							<td width="15%">参考答案</td>
							<td class="q-key"></td>
						</tr>
						<tr>
							<td width="15%">答案解析</td>
							<td class="q-resolve"></td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->



	<script>
		$(function(){
		    $('.question_preview').click(function (){

		        $qid = ($(this).data('qid'))
		        $.get('__HOME__/question/' + $qid , function (res){
		            console.log(res)

		            // 设置试题类型
					switch (res.type) {
						case 1:
						    $('.type').html('单选题') ;
						    var items = JSON.parse(res.data) ;
						    console.log(items)

						    var itemStr = "A、" + items['item'][0] + "<br> B、" + items['item'][1] + "<br>C、" + items['item'][2] +  "<br>D、" + items['item'][3]
							$('.item-setting').html(itemStr)
						    break;
						case 2:
                            $('.type').html('多选题') ;
                            break;
                        case 3:
                            $('.type').html('判断题') ;
                            break;
                        case 4:
                            $('.type').html('填空题') ;
                            break;
                        case 5:
                            $('.type').html('简答题') ;
                            break;
                    }
                    // 设置试题难度
					switch (res.level) {
						case 1:
                            $('.q-level').html('非常容易') ;
                            break;
                        case 2:
                            $('.q-level').html('比较容易') ;
                            break;
                        case 3:
                            $('.q-level').html('常规') ;
                            break;
                        case 4:
                            $('.q-level').html('困难') ;
                            break;
                        case 5:
                            $('.q-level').html('非常困难 ') ;
                            break;

                    }
					// 设置题干
					$('.q-title').html(res.title) ;

		            // 所属题库
					$('.q-db').html(res.db.name) ;
					// 参考答案
					if (res.key == 'Y'){
                        $('.q-key').html('正确') ;
					}else if(res.key == 'N'){
                        $('.q-key').html('错误') ;
					}else{
                        $('.q-key').html(res.key) ;
					}


                    // 解析
                    $('.q-resolve').html(res.resolve) ;
                    // 试题状态
					if (res.status ==1){
					    $('.q-status').html("开放")
					} else{
                        $('.q-status').html("关闭")
					}
                    $('#question_modal').modal('show') ;

				} )

			})
		})
	</script>

	<!--body wrapper end-->



{/block}
