{extend name="base/base" /}
{block name="title"}标题{/block}

{block name="left"}

{include file="base/left_menu" /}

{/block}


{block name="main"}


	<!-- page heading start-->
	<div class="page-heading">
		<h3>
			公告管理
		</h3>
		<ul class="breadcrumb">
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">公告管理</a>
			</li>
			<li class="active">公告修改</li>
		</ul>
	</div>
	<!-- page heading end-->
	<hr />






	<!--body wrapper start-->
	<div class="wrapper">
		<div class="row">
			<div class="col-md-12">
				<div class="square-widget">
					<div class="widget-container">
						<div class="stepy-tab">
						</div>
						<form id="default" class="form-horizontal" method="post" action="__HOME__/news/{$news.id}">
							<input type="hidden" name="_method" value="PUT" >
							<fieldset title="公告修改">
								<legend></legend>
								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">公告标题</label>
									<div class="col-md-6 col-sm-6">
										<input type="text" placeholder="公告标题" value="{$news.title}" required="required" name="title" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">所属类目</label>
									<div class="col-md-6 col-sm-6">
										<select name="cate_id" id="" class="form-control" required="required">

											{volist name='cate' id='vo'}
											<option value="{$vo.id}" {if $vo.name==$news.cate.name} selected="selected" {/if}  class="form-control">{$vo.name}</option>
											{/volist}
										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">公告内容</label>
									<div class="col-md-6 col-sm-6">
										<textarea name="content" cols="30" rows="10">{$news.content}</textarea>
									</div>
								</div>





								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">&nbsp;</label>
									<div class="col-md-6 col-sm-6">
										<input type="submit" class="btn btn-success btn-lg" value="提交" style="width: 80px;">
									</div>
								</div>


							</fieldset>


						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--body wrapper end-->




<script charset="utf-8" src="__STATIC__/editor/kindeditor-min.js"></script>
<script charset="utf-8" src="__STATIC__/editor/lang/zh_CN.js"></script>
<script charset="utf-8" src="__STATIC__/js/jquery-1.10.2.min.js"></script>

<script>
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea', {
            resizeType: 1,
            allowPreviewEmoticons: false,
            allowImageUpload: false,
            items: [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'image', 'link'
            ]
        });
        // editor = K.create('textarea[name="resolve"]', {
        // 	resizeType: 1,
        // 	allowPreviewEmoticons: false,
        // 	allowImageUpload: false,
        // 	items: [
        // 		'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
        // 		'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
        // 		'insertunorderedlist', '|', 'emoticons', 'image', 'link'
        // 	]
        // });
    });
</script>

{/block}
