{extend name="base/base" /}
{block name="title"}标题{/block}

{block name="left"}

{include file="base/left_menu" /}

{/block}


{block name="main"}

	<!-- page heading start-->
	<div class="page-heading">
		<h3>
			公告管理

		</h3>

		<ul class="breadcrumb">
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">公告管理</a>
			</li>
			<li class="active"> 公告列表</li>
		</ul>
	</div>
	<!-- page heading end-->

	<!--body wrapper start-->
	<div class="wrapper">
		<div class="row">
			<div class="col-sm-12">
				<section class="panel">
					<header class="panel-heading">
						公告管理，您可以在如下列表中选择进行修改或删除。
						<!--<span class="tools pull-right">-->
						<!--<a href="javascript:;" class="fa fa-chevron-down"></a>-->
						<!--<a href="javascript:;" class="fa fa-times"></a>-->
						<!--</span>-->
						<br>
						<br>
						<a href="__HOME__/news/create" class="btn btn-success"> 新增公告</a>
					</header>
					<div class="panel-body">
						<div class="adv-table">
							<table class="table table-bordered table-striped">
								<thead>
								<tr>
									<th>公告标题</th>
									<th>所在类目</th>
									<th>发布者</th>
									<th>发布时间</th>
									<!--<th>状态</th>-->

									<th>操作</th>
								</tr>
								</thead>
								<tbody>
								{volist name='list' id='vo'}
								<tr class="gradeX" style="vertical-align: middle;">
									<td>{$vo.title}</td>
									<td>
										{$vo.cate.name}
									</td>
									<td>
										{$vo.poster}
									</td>
									<td>
										{:date('Y-m-d H:i:s', $vo.post_time)}
									</td>
									<!--<td>-->
										<!--{if $vo.status ==1}正常{else}关闭{/if}-->
									<!--</td>-->



									<td>

										<a href="__HOME__/news/{$vo.id}">
											<div class="btn btn-success">
												详情
											</div>
										</a>

										<a href="__HOME__/news/{$vo.id}/edit">
											<div class="btn btn-success">
												修改
											</div>
										</a>

										<form style="display: inline-block" action="__HOME__/news/{$vo.id}" method="post">
											<input type="hidden" name="_method" value="DELETE" >
											<input class="btn btn-danger" value="删除" type="submit">


										</form>
									</td>
								</tr>
								{/volist}
								</tbody>


							</table>
						</div>
					</div>


					<!--分页开始-->
					<div class="panel-body">
						<section id="page">

							<div class="my-page pull-right">
								{$list|raw}
							</div>


						</section>
					</div>
					<!--分页结束-->
				</section>
			</div>

		</div>

	</div>



	<!--body wrapper end-->

{/block}
