{extend name="base/base" /}
{block name="title"}标题{/block}

{block name="left"}

{include file="base/left_menu" /}

{/block}


{block name="main"}


	<!-- page heading start-->
	<div class="page-heading">
		<h3>
			专业管理
		</h3>
		<ul class="breadcrumb">
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">专业管理</a>
			</li>
			<li class="active">专业信息修改</li>
		</ul>
	</div>
	<!-- page heading end-->
	<hr />






	<!--body wrapper start-->
	<div class="wrapper">
		<div class="row">
			<div class="col-md-12">
				<div class="square-widget">
					<div class="widget-container">
						<div class="stepy-tab">
						</div>
						<form id="default" class="form-horizontal" method="post" action="__HOME__/major/{$major.id}">
							<input type="hidden" name="_method" value="PUT" >
							<fieldset title="试卷分类修改">
								<legend></legend>
								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">专业名称</label>
									<div class="col-md-6 col-sm-6">
										<input type="text" placeholder="院系名称" value="{$major.name}" required="required" name="name" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">所属院系</label>
									<div class="col-md-6 col-sm-6">
										<select name="dept_id" id="" class="form-control" required="required">

											{volist name='dept' id='vo'}
											<option value="{$vo.id}" {if $vo.name==$major.dept.name} selected="selected" {/if}  class="form-control">{$vo.name}</option>
											{/volist}
										</select>
									</div>
								</div>



								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">院系说明</label>
									<div class="col-md-6 col-sm-6">
										<input type="text" name="remark" value="{$major.remark}"  placeholder="院系说明" class="form-control">
									</div>
								</div>


								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">&nbsp;</label>
									<div class="col-md-6 col-sm-6">
										<input type="submit" class="btn btn-success btn-lg" value="提交" style="width: 80px;">
									</div>
								</div>


							</fieldset>


						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--body wrapper end-->

<!-- main content end-->>
{/block}
