{extend name="base/base" /}
{block name="title"}标题{/block}

{block name="left"}

{include file="base/left_menu" /}

{/block}


{block name="main"}


	<!-- page heading start-->
	<div class="page-heading">
		<h3>
			试卷分类
		</h3>
		<ul class="breadcrumb">
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">试卷管理</a>
			</li>
			<li class="active">试卷分类修改</li>
		</ul>
	</div>
	<!-- page heading end-->
	<hr />






	<!--body wrapper start-->
	<div class="wrapper">
		<div class="row">
			<div class="col-md-12">
				<div class="square-widget">
					<div class="widget-container">
						<div class="stepy-tab">
						</div>
						<form id="default" class="form-horizontal" method="post" action="__HOME__/papercate/{$category.id}">
							<input type="hidden" name="_method" value="PUT" >
							<fieldset title="试卷分类修改">
								<legend></legend>
								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">分类名称</label>
									<div class="col-md-6 col-sm-6">
										<input type="text" placeholder="分类名称" value="{$category.name}" required="required" name="name" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">状态</label>
									<div class="col-md-6 col-sm-6">
										<select name="status" class="form-control" required="required">
											<option value="1" {if $category.status==1} selected="selected" {/if} class="form-control">开放</option>
											<option value="0"  {if $category.status==0} selected="selected"{/if} class="form-control">关闭</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">分类说明</label>
									<div class="col-md-6 col-sm-6">
										<input type="text" name="remark" value="{$category.remark}" required="required" placeholder="分类说明" class="form-control">
									</div>
								</div>


								<div class="form-group">
									<label class="col-md-2 col-sm-2 control-label">&nbsp;</label>
									<div class="col-md-6 col-sm-6">
										<input type="submit" class="btn btn-success btn-lg" value="提交" style="width: 80px;">
									</div>
								</div>


							</fieldset>


						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--body wrapper end-->

{/block}
